**Здесь представлен код для подсчёта количества NaN в столбцах начальной таблицы**


Первая версия в процентах, вторая показывает количество.

In [80]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

data = pd.read_csv('data/all_data_sas.csv', sep=";", encoding='cp1251') # open raw data file

In [81]:
temp = 100 * data.isna().sum() / len(data)

In [82]:
df = pd.DataFrame(temp)
df.rename(columns={df.columns[0]: "%"}, inplace = True)
df = df.sort_values("%", axis=0, ascending=False, inplace=False, na_position='last')
df.reset_index(level=0, inplace=True)
df.rename(columns={df.columns[0]: "Категория", df.columns[1]: "%"}, inplace = True)
df

                   Категория          %
0              МагазинЗаказа  99.297934
1              ПричинаОтмены  90.142193
2                    ПВЗ_код  28.561866
3                    Группа4  17.498405
4                      Маржа  14.033520
5                ЦенаЗакупки  14.033520
6                    Группа2  13.623011
7                    Группа3  13.623011
8                  ТипТовара  13.623011
9       ЭлектроннаяПочта_new   1.722793
10                    Регион   0.702477
11              ДатаДоставки   0.054342
12                    Клиент   0.044213
13             МетодДоставки   0.000274
14               ФормаОплаты   0.000274
15                    ID_SKU   0.000000
16             СуммаДоставки   0.000000
17                СуммаУслуг   0.000000
18         ДатаЗаказаНаСайте   0.000000
19               НомерСтроки   0.000000
20             ГородМагазина   0.000000
21  КоличествоПроданоКлиенту   0.000000
22                       Гео   0.000000
23               Телефон_new   0.000000
24                      Дата   0.000000
25                    Статус   0.000000
26             ГодДатыЗаказа   0.000000
27           МесяцДатыЗаказа   0.000000
28                      Цена   0.000000
29                Количество   0.000000
30                  Отменено   0.000000
31              Номенклатура   0.000000
32                       Тип   0.000000
33            СуммаДокумента   0.000000
34        СуммаЗаказаНаСайте   0.000000
35               НовыйСтатус   0.000000
36        НомерЗаказаНаСайте   0.000000
37               СуммаСтроки   0.000000

In [85]:
temp = data.isna().sum()
df1 = pd.DataFrame(temp)
df1.rename(columns={df.columns[0]: "Количество"}, inplace = True)
df1 = df.sort_values("Количество", axis=0, ascending=False, inplace=False, na_position='last')
df1.reset_index(level=0, inplace=True)
df1.rename(columns={df.columns[0]: "Категория", df.columns[1]: "Количество"}, inplace = True)
df1

    index                 Категория  Количество
0       0             МагазинЗаказа      725429
1       1             ПричинаОтмены      658541
2       2                   ПВЗ_код      208661
3       3                   Группа4      127836
4       4                     Маржа      102523
5       5               ЦенаЗакупки      102523
6       6                   Группа2       99524
7       7                   Группа3       99524
8       8                 ТипТовара       99524
9       9      ЭлектроннаяПочта_new       12586
10     10                    Регион        5132
11     11              ДатаДоставки         397
12     12                    Клиент         323
13     14               ФормаОплаты           2
14     13             МетодДоставки           2
15     36        НомерЗаказаНаСайте           0
16     35               НовыйСтатус           0
17     34        СуммаЗаказаНаСайте           0
18     33            СуммаДокумента           0
19     26             ГодДатыЗаказа           0
20     32                       Тип           0
21     31              Номенклатура           0
22     30                  Отменено           0
23     29                Количество           0
24     28                      Цена           0
25     27           МесяцДатыЗаказа           0
26     19               НомерСтроки           0
27     25                    Статус           0
28     24                      Дата           0
29     23               Телефон_new           0
30     22                       Гео           0
31     21  КоличествоПроданоКлиенту           0
32     20             ГородМагазина           0
33     18         ДатаЗаказаНаСайте           0
34     17                СуммаУслуг           0
35     16             СуммаДоставки           0
36     15                    ID_SKU           0
37     37               СуммаСтроки           0

In [ ]:
df.to_csv('missings_percents.csv')

In [ ]:
df1.to_csv('missings_numbers.csv')