**Здесь представлен код для подсчёта количества NaN в столбцах начальной таблицы**


Первая версия в процентах, вторая показывает количество.

Гипотезы:


1. Город магазина или магазин заказа часто отсутствует, так как люди предпочитают курьерскую доставку, в таком случае, эти данные не указываются. Можно сделать вывод, что компании стоит сфокусироваться на этом направлении.


2. Большое отсутствие причин отмены, скорее всего, обусловлено тем, что люди не желают сообщать истинную причину, возможно, некогда, возможно, неудобно говорить правду. Возможно, неудобно устроен канал обратной связи.


3. Маржа часто отсутствует из-за некорректных данных и возвратов (в таком случае ничего не пишется). Аналогично с ценой закупки.


4. Группа товара часто не указана, потому что в отдельных строках записана "доставка", в таких случаях не пишется эта информация.


5. Где-то не указана почта, возможно, ошибка в данных. 


6. Часто не указан телефон клиента, что является проблемой, так как с ним потом сложно связаться. Причины могут быть разными для скрытия телефона, как фрод, так и беспокойство о персональной информации. Можно в качестве обязательного условия для заказа товара установить указание телефона, чтобы не терять часть клиентов, с которыми потом сложно связаться.

In [68]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

data = pd.read_csv('data/all_data_sas.csv', sep=";", encoding='cp1251') # open raw data file

In [69]:
temp = data.isna().sum()
temp["Телефон_new"] += (data["Телефон_new"] == '0').astype(int).sum()
temp["Цена"] += (data["Цена"] == '0').astype(int).sum()
temp["СуммаСтроки"] += (data["СуммаСтроки"] == '0').astype(int).sum()
temp["Клиент"] += (data["Клиент"] == '0').astype(int).sum()
temp["ГородМагазина"] += (data["ГородМагазина"] == '0').astype(int).sum()

temp1 = 100 * temp / len(data)

In [70]:
df = pd.DataFrame(temp1)

df.rename(columns={df.columns[0]: "%"}, inplace = True)
df = df.sort_values("%", axis=0, ascending=False, inplace=False, na_position='last')
df.reset_index(level=0, inplace=True)
df.rename(columns={df.columns[0]: "Категория", df.columns[1]: "%"}, inplace = True)
df

                   Категория          %
0              МагазинЗаказа  99.297934
1              ГородМагазина  99.297934
2              ПричинаОтмены  90.142193
3                    ПВЗ_код  28.561866
4                    Группа4  17.498405
5                      Маржа  14.033520
6                ЦенаЗакупки  14.033520
7                    Группа3  13.623011
8                  ТипТовара  13.623011
9                    Группа2  13.623011
10               СуммаСтроки   2.687535
11      ЭлектроннаяПочта_new   1.722793
12                    Регион   0.702477
13               Телефон_new   0.387512
14                    Клиент   0.233383
15              ДатаДоставки   0.054342
16                      Цена   0.018890
17               ФормаОплаты   0.000274
18             МетодДоставки   0.000274
19                СуммаУслуг   0.000000
20        НомерЗаказаНаСайте   0.000000
21                    ID_SKU   0.000000
22         ДатаЗаказаНаСайте   0.000000
23  КоличествоПроданоКлиенту   0.000000
24               НомерСтроки   0.000000
25             СуммаДоставки   0.000000
26                    Статус   0.000000
27               НовыйСтатус   0.000000
28                       Гео   0.000000
29                       Тип   0.000000
30        СуммаЗаказаНаСайте   0.000000
31             ГодДатыЗаказа   0.000000
32           МесяцДатыЗаказа   0.000000
33            СуммаДокумента   0.000000
34                Количество   0.000000
35                  Отменено   0.000000
36              Номенклатура   0.000000
37                      Дата   0.000000

In [71]:
df1 = pd.DataFrame(temp)
df1.rename(columns={df1.columns[0]: "Количество"}, inplace = True)
df1 = df1.sort_values("Количество", axis=0, ascending=False, inplace=False, na_position='last')
df1.reset_index(level=0, inplace=True)
df1.rename(columns={df1.columns[0]: "Категория", df.columns[1]: "Количество"}, inplace = True)
df1

                   Категория  Количество
0              МагазинЗаказа      725429
1              ГородМагазина      725429
2              ПричинаОтмены      658541
3                    ПВЗ_код      208661
4                    Группа4      127836
5                      Маржа      102523
6                ЦенаЗакупки      102523
7                    Группа3       99524
8                  ТипТовара       99524
9                    Группа2       99524
10               СуммаСтроки       19634
11      ЭлектроннаяПочта_new       12586
12                    Регион        5132
13               Телефон_new        2831
14                    Клиент        1705
15              ДатаДоставки         397
16                      Цена         138
17               ФормаОплаты           2
18             МетодДоставки           2
19                СуммаУслуг           0
20        НомерЗаказаНаСайте           0
21                    ID_SKU           0
22         ДатаЗаказаНаСайте           0
23  КоличествоПроданоКлиенту           0
24               НомерСтроки           0
25             СуммаДоставки           0
26                    Статус           0
27               НовыйСтатус           0
28                       Гео           0
29                       Тип           0
30        СуммаЗаказаНаСайте           0
31             ГодДатыЗаказа           0
32           МесяцДатыЗаказа           0
33            СуммаДокумента           0
34                Количество           0
35                  Отменено           0
36              Номенклатура           0
37                      Дата           0

In [ ]:
df.to_csv('missings_percents.csv') #Cохранить таблицу с процентами

In [ ]:
df1.to_csv('missings_numbers.csv') #Сохранить таблицу с количеством